

.rtc {
    background-color: rgb(212, 227, 239);
    border-radius: 15px;
}

.top-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sign-up:hover{
    height: 50px;
    width: 100px;
}
.sign-up {
    height: 40px;
    width: 90px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    background-color: rgb(38, 38, 117);
    border-radius: 10px;
    margin-left: 40px;
    border-color: #353573;
    font-size: 17px;
    margin-bottom: 10px;
}
.sign-in:hover{
    height: 50px;
    width: 100px;
}
.sign-in {
    height: 40px;
    width: 90px;
    text-decoration: none;
    color: white;
    font-size: 17px;

    border-radius: 10px;
    background-color: rgb(38, 38, 117);
    margin-top: 15px;
    margin-right: 50px;
    border-color: #353573;
    margin-bottom: 10px;
}

.navbar {
    background-color:  rgb(8, 8, 104);
    height: 78px;
    align-items: center; 
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    margin-top: 7px;
    position: static;
    float: none;
    color: #0F1111;
}
.logo:hover{
    height: 90px;

}
.logo {
    height: 75px;
   display: block;
    position: sticky;
    margin-left: 7px;
    border-radius: 3px 50px 3px 35px;

}
.home:hover{
    height: 40px;
}

.home {
    height: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: px;
    font-size: 4px;
    color: white;
    margin-left: 30px;
}
.not{
    height: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: px;
    font-size: 4px;
    color: white;

}
.profile:hover {
    height: 65px;
    width: 62px;
}

.profile {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add-to-cart:hover{
    height: 50px;
    width: 40px;
}

.add-to-cart {
    height: 40px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 80%;
    margin-right: 30px;
}

.return-order {
    height: auto;
    text-decoration: none;
    color: white;
    margin-left: 90%;
}
.menu{
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.heading-categori {
    text-align: start;
    margin-left: 50px;
}

.categories-container {
    display: flex;
    background-color: #f7f7f4;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

.categories {
    width: 130px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.categories-card:hover {
width: 110px;
height: 110px;
}

.categories-card {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categories-1 {
    text-decoration: none !important;
}

.categories-card-title {
    color: black;
    text-align: center;
    text-decoration: none !important;
}

.categories-container-2 {
    background-color: rgb(247, 237, 224);
    display: flex;
    justify-content: space-around;
}

.search-bar {
    width: 400px;
    height: 40px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    font-size: 18px;
    margin-left: 50px;
}

.search-button {
    height: 40px;
    width: 74px;
    margin-left: px;
    margin-right: 50px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    font-size: 18px;
}

.shopnow-btn {
    background-color: rgb(146, 30, 88);
    height: 50px;
    width: 230px;
    color: white;
    text-align: center;
    margin-top: 400px;
    margin-left: 40 px;
    margin-right: 80px;
}

.footer-logo {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.marq {
    background-color: rgb(219, 242, 242);
}

.image {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

.img1 {
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px #dbe272;
}

.sore-img {
    height: 100px;
    width: 100px;
}

.add {
    height: 300px;
    margin-bottom: 150px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 100px;
    background-color: rgb(232, 241, 247);
    margin-left: 100px;
    border-radius: 30px;
    margin-bottom: 40px;
}

.add-img {
    margin-top: 20px;
    height: 350px;
    width: 430px;
}

.add-img2 {
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.u-list {
    margin-top: 60px;
    font-size: 30px;
    margin-right: 5px;
}

.second_div {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

.offer-img {
    margin-top: 40px;
    height: 400px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.footer {
    position: relative;
    background-color: #040436;
    height: 300px;
    margin-top: 80px;
}

.about {
    position: absolute;
    top: 25px;
    margin-left: 80px;
    color: #e6e6ff;
}

.about-list {
    position: absolute;
    top: 80px;
    margin-left: 76px;
    color: #e6e6ff;
    font-size: 20px;
}

.help {
    position: absolute;
    color: #e6e6ff;
    margin-left: 500px;
    top: 25px;
}

.help-list {
    position: absolute;
    color: #e6e6ff;
    margin-left: 500px;
    top: 90px;
    font-size: 20px;
}

.policy {
    position: absolute;
    color: #e6e6ff;
    margin-left: 760px;
    top: 25px;
}

.policy-list {
    position: absolute;
    color: #e6e6ff;
    margin-left: 760px;
    top: 90px;
    font-size: 20px;
}

.social {
    position: absolute;
    color: #e6e6ff;
    margin-left: 1000px;
    top: 25px;
}

.social-list {
    position: absolute;
    color: #e6e6ff;
    margin-left: 1000px;
    top: 90px;
    font-size: 20px;
}

.contact {
    margin-left: 50px;
}

.call {
    text-decoration: none !important;
}

.anc {
    text-decoration: none !important;
    color: white;

}
.about-2 {
    position: absolute;
    top: 25px;
    margin-left: 1200px;
    color: #e6e6ff;
}

.about-list-2 {
    position: absolute;
    top: 80px;
    margin-left: 1200px;
    color: #e6e6ff;
    font-size: 20px;
}